* {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #f4f4f4;
}

body {
  background-color: #2A59A3;
  height: auto;
  width: 100vw;
}

h1 {
  text-align: center;
  padding: 10px 0 30px 0;
  color: #f3ecf0;
  margin-top: 2vw;
}

h6 {
  font-weight: bold;
  padding-top: 5%;
  text-align: center;
}

.logoBranco {
  width: 120px !important;
  height: auto;
  font-size: 12px;
  margin-left: 30%;
  margin-right: 40%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.iconeAlerta {
  padding-left: 5%;
  width: 20vw;
  float: right;
  z-index: 0;
  opacity: 20%;
}

.card {
  border-color: #7c7c7c;
  border-width: 2px;
  width: 100%;
  height: 105vw;
  border-radius: 3%;
  margin-bottom: 10%;
}

.modal-backdrop {
  height: 120vh;
  width: 100%;
}

.alert {
  margin: 5px;
  margin-bottom: 10%;
  border-color: #ffb905;
}

.alert1 {
  background-color: #84cfa6;
  color: #335f3a;
  margin: 5px;
  margin-bottom: 10%;
  border-color: #5fc18b;
}

.alert2 {
  background-color: #eeb7be;
  color: #742828;
  margin: 5px;
  margin-bottom: 10%;
  border-color: #841919;
}

.modal-content {
  margin-left: 2%;
  margin-top: 5%;
  width: 85% !important;
}

.buttonGrid .medir {
  margin: 2%;
  text-align: center;
  background-color: #f4f4f4;
  border-width: 3px;
  border-color: #20437a;
  height: 50px;
  width: 360px;
  color: #212529 !important;
  font-size: 18px;
  letter-spacing: 1px;
}

.buttonGrid .medir:hover {
  background-color: #ffb905;
  color: #202020;
}

.buttonGrid .medir:active {
  background-color: #ffb905;
  color: #202020;
  font-weight: bold;
}

.buttonGrid .col-5 {
  margin-bottom: 3%;
  padding-top: 0;
}

.buttonGrid .bluetoothDisable {
  margin: 2%;
  text-align: center;
  height: 50px;
  width: 360px;
  background-color: #a70b5c;
  border-width: 5px;
  border-color: #600735;
  color: #f4f4f4;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: bold;
  border-radius: 28px;
  cursor: pointer;
}

.buttonGrid .bluetoothDisable:hover {
  background-color: #254e8f;
  color: #f4f4f4;
  font-weight: bold;
  background-color: #254e8f;
  color: #f4f4f4;
  font-weight: bold;
  border-width: 5px;
  border-color: #600735;
}

.buttonGrid .bluetoothDisable:active {
  background-color: #254e8f;
  color: #f4f4f4;
  font-weight: bold;
  border-width: 5px;
  border-color: #600735;
}

#content {
  max-width: 95vw;
  padding: 2vw;
}

.hamburguer {
  position: absolute;
  top: 20px;
  left: 15px;
  color: #fff8f8;
  font-size: 30px;
  -webkit-transition: 2s;
  transition: 2s;
}

.hamburguer.active {
  display: none;
}

.card-body {
  padding: 10px 10px 5px 10px;
}

.card-body .card-title {
  margin-bottom: 5%;
  padding-left: 0;
  margin-left: 0;
}

.card-body .row {
  margin-left: 5%;
}

.card-icon {
  font-size: 50px;
}

.prev-icon {
  font-size: 70px;
  padding: 15px 15px 0 15px;
}

.prev-info {
  margin: 0;
}

.cidade {
  margin-bottom: 5%;
  color: #2A59A3;
}

.elecard {
  margin-bottom: 6%;
}

.climaIcon {
  height: 15vh;
  margin: 5%;
  padding-bottom: 5%;
}

.modal-body {
  padding-left: 5%;
  padding-right: 10%;
}

.modal-body .card-title {
  text-align: center;
  font-size: 20px;
  margin-right: 23%;
}

.modal-body .climaIcon {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 0;
  height: 20vh;
  padding: 0;
}

.modal-body .prev-info {
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 0% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5%;
}

.modal-body .tempoMm {
  text-align: center;
  font-size: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
  margin-left: 0 !important;
  margin-right: 4%;
}

.tempSemana {
  text-align: center;
  margin-left: 10%;
}

.climaSemana {
  height: 7vh;
}

.iconesUv {
  height: 15vh;
  margin-right: 5%;
}

.icones {
  height: 10vh;
  margin-right: 5%;
}

.umid {
  margin-left: 7%;
  margin-right: 5%;
}

.heart {
  height: 11vh;
  padding-top: 5%;
  margin-top: 5%;
  margin-left: 30% !important;
  margin-bottom: 6%;
}

.previsaoAPI {
  text-align: center;
  color: #2A59A3;
  margin: 10% 20% 10% 10%;
}

.UVFCTEXT {
  padding-top: 20%;
  font-size: 30px;
  margin-left: 10%;
}

.medir {
  background-color: #29579f;
  border-radius: 28px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}

.medir:hover {
  background-color: #7ba3d4;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.medir:active {
  position: relative;
  top: 1px;
}

.botaoum {
  margin-top: 5%;
  margin-left: 22%;
  margin-right: 20%;
  padding-right: 50%;
}
/*# sourceMappingURL=sass.css.map */