body{
    background-color: #2A59A3;
}

.icones{
    height: 10vh;
}


.iconeAlerta{
    
    padding-left: 5%;
    width: 20vw;
    float: right;  
    z-index: 0;
    opacity: 20%;
}


.card {
    border-color: #7c7c7c;
    border-width: 2px;
    width: 100%;
    height: 60vw;
    border-radius: 3%;
}

h1 {
    text-align: center;
    padding: 10px 0 30px 0;
    color: #f3ecf0;
}


.carousel-indicators {
    margin-top: -50px;
    align-items: center;
}

.carousel-indicators > li {
    border-radius: 50%;
    background-color: rgb(236, 236, 248);
    width: 5px;
    height: 5px;
}

.carousel-indicators > li.active {
    width: 8px;
    height: 8px;
}

.indicators {
    height: 50px
}

.alert {
    margin: 5px;
    margin-bottom: 10%;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: 100hw;
    
}
#sidebar {
    min-width: 415px;
    max-width: 415px;
    margin-left: -415px;
    /* background-color: rgb(142, 142, 255); */
    background-color: #2f2f30;
    color: white;
    transition: 0.5s;
    height: auto;
}

#sidebar.active {
    margin-left: 0;
    margin-right: 0;
   
}

/* .side-container {
    display: flex;
} */

.side-close {
    margin-left: 15px;
    margin-top: 20px;
    font-size: 30px;
    text-align: end;
    float: right;
  
}

.sidebar-title {
    text-align: center;
    color: #f3ecf0;
    padding: 5px;
    top: 23px!important;
    padding-right: 13%;
}

#content {
    max-width: 95vw;
    padding: 2vw;
}

.hamburguer {
    position: absolute;
    top:20px;
    left: 15px;
    color: rgb(255, 248, 248);
    font-size: 30px;
    transition: 2s;

}
.hamburguer.active {
    display: none;
}


.card-body {
    padding: 10px 10px 5px 10px;
}

.card-icon {
    font-size: 50px;
}

.prev-icon {
    font-size: 70px;
    padding: 15px 15px 0 15px;
}
.prev-info {
    margin: 0;
}

.cidade{
    margin-bottom: 5%;
    color: #2a59a3;
  
}

h6{
    font-weight: bold;
    
    padding-top: 5%;
    text-align: center;
    
    
}

.climaIcon{
    height: 15vh;
    margin: 5% 5% 10% 10%;
    padding-bottom: 5%;

}

.climaSemana{
    height:7vh;

}

.iconesUv{
    height: 15vh;
    padding-top: 5%;
    margin-left: 30%!important;
    
}

.previsaoAPI{
    margin-top: 5%;
    text-align: center;
    color: #2a59a3;
}

.sidebarItens{
    font-size: 20px;
    padding-bottom: 5%;
    bottom: 10;
}


.UVFCTEXT{
    padding-top: 20%; 
    font-size: 30px;
    
}

.medir{
    
	background-color:#2a58a3;
	border-radius:28px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.medir:hover {
    background-color:#7ba3d4;
}
.medir:active {
	position:relative;
	top:1px;
}

.botaoum{
    margin-top: 10%;
    
    margin-left: 20%;
    margin-right: 20%;
  
}

